<% layout('layout/boilerplate') %> 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Hackers</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
          <div class="text-center mb-3">
            <h3>Want others to see you ?</h3>
            <form action="/hackathons/<%=users.id%>/add" method="POST" class="d-inline">
              <button class="btn btn-primary m-lg-1">List yourself</button>
            </form>
            <form action="/hackathons/<%=users.id%>/createTeam/" class="d-inline">
              <button class="btn btn-success m-lg-1">Create Team</button>
            </form>
            <div class="col-4 offset-md-4 mt-2 mb-2">
              <%- include('partials/flash.ejs') %>
            </div>
          </div>
        <div class="row">
          <div class="col-9">
            <!-- <h4>Search</h5>
              <form id="searchform">
                <input type="search" name="search" id="search" class="form-control" placeholder="Hackathon">
              </form>
            <hr> -->
              <h1>Individuals</h1>
            <% for(user of users.users){ %> 

            <div class="card" style="margin-bottom: 10px;">
              <div class="card-header">       
                <h5 class="d-inline name"><%=user.name%> </h5>
                <br>
                <span><%=user.city%> </span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Skills</h5>
                <p class="card-text">
                   <ul>
                    <% for(skill of user.skills){ %> 
                    <li><%=skill%> </li>
                    <% } %> 
                  </ul>
                </p>
                <a href="#" class="btn btn-primary">Chat</a>
                <!-- <a href="#" class="btn btn-success">Team up</a> -->
              </div>
            </div>
            <% } %>

            <% if(users.teams.length>0){%>               
            <h1>Teams</h1>
            <% } %>
            <div class="row row-cols-3">

              <% for(team of users.teams){ %>
                <div class="card m-1" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title"><%=team.name%></h5>
                    <p class="card-text">Number of members currently <%=team.members.length%>/<%=team.maxMembers%></p>
                    <p class="card-text">Field: <%=team.field%></p>
                    <form action="/hackathons/<%=users.id%>/join/<%=team.id%>/" method="POST">
                      <button class="btn btn-success">Join Team</button>
                    </form>
                  </div>
                </div>
              <% } %>  

            </div>

          </div>
          <div class="col-2">
            <h4>Filters</h5>
              <hr>
            <div>
              <label for="form-select">Field</label>
              <select class="form-select" aria-label="Default select example">
                <option value="0">All</option>
                <option value="1">Web Development</option>
                <option value="2">App Development</option>
                <option value="3">Machine Learning</option>
                <option value="4">Blockchain</option>
                <option value="5">Other</option>
              </select>
            </div>
        </div>
      </div>
    </section>
    <script src="/js/filter.js"></script>
  </main><!-- End #main -->