<%layout('layout/boilerplate')%>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <h1 class="mt-2">Hackathons</h1>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <h2 class="mb-3">Choose a Hackathon</h2>
        <div class="row row-cols-3 g-3">
          
        <% for(hackathon of hackathons){ %> 
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"><%=hackathon.name%></h5>
            </div>
            <div class="card-body">
              <p class="card-text"><%=hackathon.description %> </p>
              <p class="text-success"><%=hackathon.users.length%> Poeple available to team up</p>
              <p class="text-success"><%=hackathon.teams.length%> Teams available to team up</p>
              <a href="/hackathons/<%=hackathon.id%>" class="btn btn-primary">Find teammates</a>
            </div>
            <div class="card-footer text-muted">
              <%=hackathon.date %> 
            </div>
          </div>
          <% } %> 

        </div>
      </div>
    </section>

  </main><!-- End #main -->
